body {
  margin: 0;
}

.game {
  .game-header {
    height: 90px;
    text-align: center;
  }
  margin-top: 30px;
  .game-table {
    margin: auto;
    border: 1px solid grey;
    border-collapse: collapse;
    td {
      width: 50px;
      height: 50px;
      border: 1px solid grey;
      text-align: center;
    }
  }

}

